@media screen and (min-width: 1128px) {
    
    .container{
       width: 100%;
    }

    /* Mobile none */
    .burger-type-open{
       display: none;
    }

    .backdrop.none {
        position: unset;
        display: none;
    }

    .is-hidden {
        opacity: 0;
        visibility: unset;
        pointer-events: none;
    }

    .menu-position{
        position: unset;
    }

    .mobile-menu{
        display: none;
        position: unset;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        display: unset;
        justify-content: unset;
        flex-direction: unset;
        overflow-y: unset;
        background-color: none;
        transition: unset;
    }

    .contacts{
        display: none;
    }

    /* Header start */

    .header .container{
        max-width: 1128px;
        display: flex;
        padding: 24px 15px 0 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .header-nav-menu{
        display: flex;
        align-items: unset;
    }

    .logo{
        margin-right: 75px;
        text-align: center;
        padding-bottom: 24px;
    }

    .wrapper-mobile .tablet{
        display: flex;
        justify-content: unset;
        align-items: unset;
    }

    .tablet{
        display: flex;
        justify-content: unset;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .header-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

    .header-link .active-studio{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
    }

    .header-link.active-link::after{
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: #404BBF;
        margin-top: 24px;
        bottom: 0;
    }

    .contacts-tablet .item + .item {
        margin-left: 40px;
    }

    .contacts-active_mail{
        font-size: 16px;
    }
    
    .contacts-active_tel{
        font-size: 16px;
    }

    /* Hero start */
    .hero-section{
        padding-top: 190px;
        padding-bottom: 190px;
        height: 600px;
    } 

    .hero-tapy{
        margin-top: 48px;
    }

    /* Advantages start */
    .advantages{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 1128px;
    }

    .cases-wrapper{
        margin-left: auto;
        margin-right:auto;
        max-width: 1200px;
    }

    .team-wrapper{
        margin-left: auto;
        margin-right:auto;
        max-width: 1200px;
    }

   
    /* Customers start */
    .customers-section .container{
        padding-left: 0;
        padding-right: 0;
    }

    /* Footer start */
    .footer .container{
        max-width: 1128px;
        display: flex;
    }

}

.hero-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

@media (min-device-pixel-ratio), (min-resolution: 102dpi), (min-resolution: 2dppx) {
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/hero-dek-2x.jpg);
    }
}