
@media screen and (min-width: 428px) and (max-width: 767px) {
    .container{
        width: 100%;  
    }

    .header .container {
        display: unset;
    }

    .header-nav-menu{
        display: flex;
        align-items: center;
    }

    .logo{
        padding-left: 16px;
        padding-bottom: 0;
    }

    .header-link{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }

    .burger-type-open{
        padding-bottom: 0;
    }

    /* Hero start */
    .hero-title{
        width: 320px;
        font-size: 36px;
    }
    
    .hero-tapy{
        margin-top: 72px;
    }
}