
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container{
        min-width: 429px;  
    }

    .header .container {
       padding-bottom: 24px;
    }

    .logo{
        padding-left: 16px;
        padding-bottom: 0;
    }

    .header-link{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }

    .burger-type-open{
        padding-bottom: 0;
    }

    /* Hero start */
    .hero-title{
        width: 320px;
        font-size: 36px;
    }
    
    .hero-tapy{
        margin-top: 72px;
    }

    /* Modal start */

    .modal {
        min-width: 392px;
    }
    
    .label-modal span{
        margin-top: 8px;
    }

    .form-modal-svg {
        left: 16px; 
    }
    
    .checkbox-modal{
        margin-top: 16px;
    }

    .checkbox-icon {
        margin-right: 8px;
    }

    .modal-desc{
        font-size: 12px;
    }
    
    .privacy-policy-link{
        font-size: 12px;
        margin-left: 6px;
        color: rgba(77, 90, 229, 1);
    }
}
