@media screen and (min-width: 768px) and (max-width: 1148px) {
    .conteiner{
        width: 100%;  
    }

    .burger-type-open{
       display: none;
    }

    .header-link.active-link::after{
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: #404BBF;
        margin-top: 24px;
        bottom: 0;
    }

    .backdrop {
        position: unset;
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .menu-position{
        position: unset;
    }

    .mobile-menu{
        position: unset;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        display: unset;
        justify-content: unset;
        flex-direction: unset;
        overflow-y: unset;
        background-color: none;
        transition: unset;
    }

    /* Header start */
    .header-nav-menu{
        display: unset;
        justify-content: unset;
        align-items: unset;
    }

    .header-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
    }

    .contacts-tablet{
        
    }
    
    .contacts-tablet .item + .item {
        margin-left: 40px;
    }

    .email-item{
        margin-top: 0;
    }

    .item{
        margin-bottom:0;
    }

    .contacts-active_mail{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }
    
    .contacts-active_tel{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;  
    }
}