@media screen and (min-width: 768px) and (max-width: 1148px) {
    .conteiner{
        width: 100%;  
    }

    .burger-type-open{
       display: none;
    }

    .header-link.active-link::after{
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: #404BBF;
        margin-top: 24px;
        bottom: 0;
    }

    .backdrop {
        position: unset;
        display: none;
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .menu-position{
        position: unset;
    }

    .mobile-menu{
        display: none;
        position: unset;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        display: unset;
        justify-content: unset;
        flex-direction: unset;
        overflow-y: unset;
        background-color: none;
        transition: unset;
    }

    /* Header start */
    .header .container{
        display: flex;
        padding: 24px 15px 0 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .wrapper-mobile .tablet{
        display: flex;
        justify-content: center;
    }

    .logo{
        margin-right: 120px;
    }

    .wrapper-mobile{
        display: none;
    }

    .contacts{
        display: none;
    }

    .tablet{
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .header-link .active-studio{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
    }

    .contacts-tablet{
       display: unset;
        padding-left: 0;
        
    }
    
    .contacts-tablet .item + .item {
        margin-left: 0;
    }

    .contacts-active_mail{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }
    
    .contacts-active_tel{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;  
    }

/* Hero start */
    .hero-section{
        padding-top: 110px;
        padding-bottom: 110px;
        height: unset;
    } 

    .hero-tapy{
        margin-top: 40px;
    }

    /* Advantages start */
    .advantages{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advantages-wrapper{
        width: 100%;
        display: flex;
       flex-wrap: wrap;
    }

    .advantages-block{
        padding-right: 24px;
        width: calc((100% - 2 * 12px) /2);
    }

    .block{
        padding-right: 0;
    }

    .block-desc{
        font-weight: 500;
        margin-bottom: 72px;
    }

    .desc{
        margin-bottom: 0;
    }

    .advantages-icon{
        display: none;
     }

     /* Cases none */
    .cases{
        display: none;
    }

    /* Taem start */

    .team{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .team-wrapper{
        margin-bottom: 0;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
    }

    .team-cards{
        width: unset;
        margin-bottom: 72px;
    }

    /* Customers start */
    .customers-section {
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        padding-bottom: 100px;
       
    }

    .customers {
        justify-content: unset;
        align-items: unset;
        margin-top: 72px;
    }

}