@media screen and (min-width: 768px) and (max-width: 1127px) {
    .container{
        max-width: 768px;  
    }

    /* Mobile none*/
    .burger-type-open{
       display: none;
    }

    .backdrop.none {
        position: unset;
        display: none;
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .menu-position{
        position: unset;
    }

    .mobile-menu{
        display: none;
        position: unset;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        display: unset;
        justify-content: unset;
        flex-direction: unset;
        overflow-y: unset;
        background-color: none;
        transition: unset;
    }

    .contacts{
        display: none;
    }

    /* Header start */
    .header .container{
        display: flex;
        padding: 24px 15px 0 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .logo{
        margin-right: 120px;
    }

    .wrapper-mobile .tablet{
        display: flex;
        justify-content: center;
    }

    .tablet{
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .header-link .active-studio{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
    }

    .header-link.active-link::after{
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: #404BBF;
        margin-top: 24px;
        bottom: 0;
    }

    .contacts-tablet{
       display: unset;
        padding-left: 0;
        
    }
    
    .contacts-tablet .item + .item {
        margin-left: 0;
    }

    .contacts-active_mail{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }
    
    .contacts-active_tel{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;  
    }

/* Hero start */
    .hero-section{
        padding-top: 110px;
        padding-bottom: 110px;
        height: unset;
    } 

    .hero-tapy{
        margin-top: 40px;
    }

    /* Advantages start */
    .advantages{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advantages-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .advantages-block{
        padding-right: 24px;
        width: calc((100% - 2 * 12px) /2);
    }

    .block{
        padding-right: 0;
    }

    .block-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }

    .block-desc{
        font-weight: 500;
        margin-bottom: 72px;
    }

    .desc{
        margin-bottom: 0;
    }

    .advantages-icon{
        display: none;
     }

     /* Cases none */
    .cases{
        display: none;
    }

    /* Taem start */

    .team{
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .team-wrapper{
        margin-bottom: 0;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .wrapper{
        margin-right: 0;
    }

    .team-cards{
        width: unset;
        margin-bottom: 72px;
    }

    .cards-bottom{
        margin-bottom: 0;
    }

    /* Customers start */
    .customers-section {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
       
    }

    .customers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: unset;
        margin-bottom: 0;
    }

    .customers-list {
        margin: 12px;
        margin-top: 70px;
        width: 168px;
        height: 88px;
    }

    .list{
        margin-top: 0;
    }

    /* Footer start */

    .footer .container{
        max-width: 565px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-wrapper{
       margin-left:0;
       margin-right: 24px;
       margin-bottom: 72px;
    }

    .footer-form-group{
        margin-left: 0;
    }

}

.hero-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

@media (min-device-pixel-ratio), (min-resolution: 102dpi), (min-resolution: 2dppx) {
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/hero-tab-2x.jpg);
    }
}


@media screen and (min-width: 870px) and (max-width: 1127px) {
    .cards-bottom{
        margin-bottom: auto;
    }

    
}