@media screen and (min-width: 428px) {

    .container{
        max-width: 428px;   
    }

    .hero-section{
        display: flex;
        align-items: center;
    }

    .hero-title{
    font-size: 36px;
    }

    .advantages{
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .advantages-wrapper{
        
    }

    .advantages-block{
        padding-right: 16px;
    }

    .advantages-icon{
        display: none;
    }
}

